html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.stack-title {
	margin-left: 20px;
}

.file-upload{
	margin-left: 30px;
	border-radius: 5px;
	background-color: rgb(220, 220, 220);
}

.file-upload button{
	background-color: rgb(255, 0, 0);
}

.stack-button {
	background-color: rgb(51, 153, 255);
	width: 150px;
	height: 30px;
	border: 1px solid rgb(0, 128, 255);
	outline: none;
	color: rgb(255, 255, 255);
	font-size: 15px;
	border-radius: 5px;
	margin-left: 20px;
}

.stack-button: hover {
	background-color: rgb(0, 128, 255);
}

.stack-content {
	margin-left: 30px;
}

.stack-input-title {
	margin-left: 30px;
	margin-top: -20px;
}

.stack-input-content {
	margin-left: 30px;
	margin-top: -20px;
}

#contentShow {
	margin-top: -10px;
	width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#titleShow {
	margin-top: -10px;
	width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.separator {
	margin-top: 20px;
	margin-left: 20px;
	border-bottom: 1px solid rgb(0, 0, 0);
	padding-bottom: 20px;
	font-size: 20px;
}

.question-card {
	height: 80px;
	width: 100%;
	background-color: rgb(240, 240, 240);
	border-bottom: 1px solid rgb(200, 200, 200);
	margin-left: 15px;
}

.question-card .questionTitle {
	font-size: 30px;
	text-align: left;
	height: 30px;
	color:   rgb(51, 153, 255);
	margin-left: 25px;
	text-decoration: none;
}

.question-card .questionTitle:hover {
	color: rgb(51, 153, 255, 0.7);
}

.question-card .content {
	font-size: 18px;
	overflow: hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
	text-align: justify;
	width: 90%;
	margin-left: 25px;
	margin-top: 5px;
}
